@model IEnumerable<fag_el_gamous.Models.Yarnmanipulation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Thickness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manipulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yarnmanipulationid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Thickness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Angle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manipulation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Component)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yarnmanipulationid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
