@model AllLinkingTablesViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
@if (Model.BurialmainSingle.Burialmain != null)
{
    <partial name="PartialViews/Burialmain" model="@Model.BurialmainSingle.Burialmain" />
    <br />
}
else
{
    <partial name="PartialViews/Burialmain" model="@Model.BurialMainNoAssociation" />
    <br />
}

<partial name="PartialViews/Textiles" model="@Model.BurialmainTextile" />
<br />

<partial name="PartialViews/Analysis" model="@Model.AnalysisTextile" />
<br />

<partial name="PartialViews/Color" model="@Model.ColorTextile" />
<br />

<partial name="PartialViews/Decoration" model="@Model.DecorationTextile" />
<br />

<partial name="PartialViews/Dimension" model="@Model.DimensionTextile" />
<br />

<partial name="PartialViews/Textilefunction" model="@Model.TextilefunctionTextile" />
<br />

<partial name="PartialViews/Structure" model="@Model.StructureTextile" />
<br />

<partial name="PartialViews/Yarnmanipulation" model="@Model.YarnmanipulationTextile" />
<br />

<partial name="PartialViews/Photodata" model="@Model.PhotodataTextile" />
<br />
@if (Model.BodyAnalysisViewModel != null)
{
    <partial name="PartialViews/BodyAnalysis" model="@Model.BodyAnalysisViewModel" />
    <br />
}
<a asp-controller="Buriallist" asp-action="Index">Back to List</a>

