@model AdvancedFilterViewModel



<div class="container" padding: 20px;>
    <div class="row justify-content-end">
        <div class="col-md-3">
            <partial name="searchPartialView" model="@Model.Search"></partial>
        </div>
        <div class="col-md-9 m1-auto">
            <div class="card text-right">
                <h2 class="text-right">Burials</h2>
                <div class="card-body">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Age</th>
                                    <th>Depth</th>
                                    <th>Hair Color</th>
                                    <th>Head Direction</th>
                                    <th>Face Bundles</th>
                                    <th>Year</th>
                                    <th>Sex</th>
                                    <th></th>
                                    @*<th>Text</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.burialmains)
                                {
                                    <tr>
                                        <td>@item.LocationString</td>
                                        <td>@item.AgeAtDeath</td>
                                        <td>@item.Depth</td>
                                        <td>@item.HairColor</td>
                                        <td>@item.HeadDirection</td>
                                        <td>@item.FaceBundles</td>
                                        <td>@item.FieldBookExcavationYear</td>
                                        <td>@item.Sex</td>
                                        <td><a asp-action="Details" asp-route-id="@item.Id">More</a></td>
                                        @*<td>@item.Text</td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3 justify-content-end">
                @{
                    var prevDisabled = !Model.burialmains.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.burialmains.HasNextPage ? "disabled" : "";
                }
                <button asp-controller="BurialList"
                        asp-action="Index"
                        asp-route-pageNumberBurial="@(Model.burialmains.PageIndex - 1)"
                        asp-route-sortOrder="@ViewData["CurrentSort"]"
                        type="submit"
                        form="search"
                        class="btn btn-default @prevDisabled">
                    Previous
                </button>
                <button asp-controller="BurialList"
                        asp-action="Index"
                        asp-route-pageNumberBurial="@(Model.burialmains.PageIndex + 1)"
                        asp-route-sortOrder="@ViewData["CurrentSort"]"
                        type="submit"
                        form="search"
                        class="btn btn-default @nextDisabled">
                    Next
                </button>
                <p>Showing Burial page @Model.burialmains.PageIndex of @Model.burialmains.TotalPages</p>
            </div>
            <div class="row">
                
                    <h2 class="text-right">Textiles</h2>
                    
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                @*<th>Textile ID</th>*@
                                                <th>Color</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.filterLinkingTables)
                                            {
                                                foreach (var textileColor in item.textileColor)
                                                {
                                                    <tr>
                                                        @*<td>@textileColor.Textile.Id</td>*@
                                                        <td>@textileColor.Color.Value</td>

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                @*<th>ID</th>*@
                                                <th>Function</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.filterLinkingTables)
                                            {
                                                foreach (var textileFunction in item.textileFunction)
                                                {
                                                    <tr>
                                                        @*<td>@textileFunction.Textile.Id</td>*@
                                                        <td>@textileFunction.Textilefunction.Value</td>

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="card">

                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                @*<th>ID</th>*@
                                                <th>Color</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.filterLinkingTables)
                                            {
                                                foreach (var textileStructure in item.textileStructure)
                                                {
                                                    <tr>
                                                        @*<td>@textileStructure.Textile.Id</td>*@
                                                        <td>@textileStructure.Structure.Value</td>

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                            
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            @{
                                var prevDisabled2 = !Model.filterLinkingTables.HasPreviousPage ? "disabled" : "";
                                var nextDisabled2 = !Model.filterLinkingTables.HasNextPage ? "disabled" : "";
                            }
                            <button asp-controller="BurialList"
                                    asp-action="Index"
                                    asp-route-pageNumberFilter="@(Model.filterLinkingTables.PageIndex - 1)"
                                    asp-route-sortOrder="@ViewData["CurrentSort"]"
                                    type="submit"
                                    form="search"
                                    class="btn btn-default @prevDisabled2">
                                Previous
                            </button>
                            <button asp-controller="BurialList"
                                    asp-action="Index"
                                    asp-route-pageNumberFilter="@(Model.filterLinkingTables.PageIndex + 1)"
                                    asp-route-sortOrder="@ViewData["CurrentSort"]"
                                    type="submit"
                                    form="search"
                                    class="btn btn-default @nextDisabled2">
                                Next
                            </button>
                            <p>Showing Textile page @Model.filterLinkingTables.PageIndex of @Model.filterLinkingTables.TotalPages</p>
                        </div>
            </div>
        </div>
    </div>
</div>



