@model userSearch

<form method="post" asp-action="Index" id="search">
    <label>@Html.DisplayNameFor(model => model.locationString)</label>
    <input asp-for="@Model.locationString" />

    <label>@Html.DisplayNameFor(model => model.ageAtDeath)</label>
    <select asp-for="@Model.ageAtDeath">
        <option value="" disabled selected>Filter</option>
        <option>N</option>
        <option>I</option>
        <option>C</option>
        <option>A</option>
    </select>

    <label>@Html.DisplayNameFor(model => model.minDepth)</label>
    <input asp-for="@Model.minDepth" />

    <label>@Html.DisplayNameFor(model => model.maxDepth)</label>
    <input asp-for="@Model.maxDepth" />

    <label>@Html.DisplayNameFor(model => model.hairColor)</label>
    <select asp-for="@Model.hairColor">
        <option value="" disabled selected>Filter</option>
        <option>Y</option>
        <option>B</option>
        <option>R</option>
        <option>D</option>
        <option>A</option>
        <option>K</option>
        <option>T</option>

    </select>

    <label>@Html.DisplayNameFor(model => model.sex)</label>
    <select asp-for="@Model.sex">
        <option value="" disabled selected>Filter</option>
        <option>M</option>
        <option>F</option>
    </select>

    <label>@Html.DisplayNameFor(model => model.headDirection)</label>
    <select asp-for="@Model.headDirection">
        <option value="" disabled selected>Filter</option>
        <option>E</option>
        <option>I</option>
        <option>W</option>
        <option>N LL</option>
    </select>

    <select asp-for="@Model.faceBundles">
        <option value="" disabled selected>Filter</option>
        <option>T</option>
        <option>F</option>
    </select>

    <label>@Html.DisplayNameFor(model => model.ParietalBlossing)</label>
    <input asp-for="@Model.ParietalBlossing" />
    <select asp-for="@Model.ParietalBlossing">
        <option value="" disabled selected>Filter</option>
        <option>true</option>
        <option>false</option>
    </select>

    <label>@Html.DisplayNameFor(model => model.Robust)</label>
    <select asp-for="@Model.Robust">
        <option value="" disabled selected>Filter</option>
        <option>true</option>
        <option>false</option>
    </select>

    <label>@Html.DisplayNameFor(model => model.textileFunction)</label>
    <input asp-for="@Model.textileFunction" />

    <label>@Html.DisplayNameFor(model => model.textileStructure)</label>
    <input asp-for="@Model.textileStructure" />

    <label>@Html.DisplayNameFor(model => model.minEstimateStature)</label>
    <input asp-for="@Model.minEstimateStature" />

    <label>@Html.DisplayNameFor(model => model.maxEstimateStature)</label>
    <input asp-for="@Model.maxEstimateStature" />

    <button type="submit">Search</button>
</form>
<a asp-action="Index">Back to Full List</a>
