@model userSearch
@*This displays a form whre the user can enter the search criteria.
The select options pull dynamically from the unique options in the database*@
<form method="post" id="search">
    <div class="form-group">
        <label asp-for="LocationString">Location String</label>
        <input asp-for="LocationString" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Sex">Sex</label>
        <select asp-for="Sex" class="form-control">
            <option value="" selected>--Select--</option>
            @foreach (var sex in Model.SexList)
            {
                <option value="@sex">@sex</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="MinDepth">Min Depth</label>
        <input asp-for="MinDepth" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MaxDepth">Max Depth</label>
        <input asp-for="MaxDepth" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AgeAtDeath">Age At Death</label>
        <select asp-for="AgeAtDeath" class="form-control">
            <option value="" selected>--Select--</option>
            @foreach (var age in Model.AgeList)
            {
                <option value="@age">@age</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="HairColor">Hair Color</label>
        <select asp-for="HairColor" class="form-control">
            <option value="" selected>--Select--</option>
            @foreach (var hairColor in Model.HairColorList)
            {
                <option value="@hairColor">@hairColor</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="HeadDirection">Head Direction</label>
        <select asp-for="HeadDirection" class="form-control">
            <option value="" selected>--Select--</option>
            @foreach (var headDirection in Model.HeadDirectionList)
            {
                <option value="@headDirection">@headDirection</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="TextileColor">Textile Color</label>
        <input asp-for="TextileColor" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TextileFunction">Textile Function</label>
        <input asp-for="TextileFunction" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FaceBundles">Face Bundles</label>
        <input asp-for="FaceBundles" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Text">Text</label>
        <input asp-for="Text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FieldBookExcavationYear">Field Book Excavation Year</label>
        <input asp-for="FieldBookExcavationYear" class="form-control" />
    </div>

</form>
